/* Add mobile styles for the component here.  */
@import "../login/login.component.scss";

.item-drop-down {
  border-bottom-width: 1;
  border-color: silver;
}

.grid-layout-dropdown {
  margin-left: 15;
  margin-right: 15;
  margin-top: 10;
}

.background_signin {
  background-image: url("~/app/images/background_signin.png");
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover;
}

DropDown {
  color: white;
  font-size: 15;
}

label,
.color_textfield {
  color: #fff;
}

GridLayout Label {
  font-size: 15;
}
