<ns-nav-bar title="IPSOS MOBILE SIGNIN"></ns-nav-bar>
<ScrollView>
    <FlexboxLayout flexDirection="column-reverse" height='100%' justifyContent="space-between" class="background_login">
        <StackLayout>
            <FlexboxLayout flexDirection="column">
                <StackLayout [formGroup]=" signinForm">
                    <TextField formControlName="ime" class="color_textfield" style="placeholder-color: #fff;"
                        hint="{{lng?.reg?.r1}}">
                    </TextField>
                    <TextField formControlName="prezime" class="color_textfield" style="placeholder-color: #fff;"
                        hint="{{lng?.reg?.r2}}"></TextField>
                    <TextField formControlName="email" class="color_textfield" style="placeholder-color: #fff;"
                        keyboardType="email" hint="{{lng?.reg?.r5}}">
                    </TextField>
                </StackLayout>
            </FlexboxLayout>
            <FlexboxLayout flexDirection="column">
                <GridLayout rows="auto, auto, *" class="grid-layout-dropdown" height='30' columns="auto, *">
                    <Label *ngIf="!signinForm.value.zemlja" text='{{lng?.reg?.r18}}'></Label>
                    <DropDown #dd class="item-drop-down" (opened)="openCountry($event)" (closed)="closeCountry($event)"
                        itemsTextAlignment="center" [items]="lngs" (selectedIndexChanged)="onchange($event)" row="0"
                        colSpan="2">
                    </DropDown>
                </GridLayout>

                <GridLayout *ngIf="showMultiLngs" class="grid-layout-dropdown" height='30' rows="auto, auto, *"
                    columns="auto, *">
                    <Label *ngIf="!signinForm.value.lng" text='{{lng?.reg?.r19}}'></Label>
                    <DropDown #dd backroundColor="red" (opened)="openCountry($event)" (closed)="closeCountry($event)"
                        placeholderColor='red' class="item-drop-down" itemsTextAlignment="center"
                        (selectedIndexChanged)="onchangeLng($event)" [items]="showMultiLngs" row="0" colSpan="2">
                    </DropDown>
                </GridLayout>
            </FlexboxLayout>
            <FlexboxLayout style="margin-left: 15; margin-top: 10;" flexDirection='column'>
                <FlexboxLayout (tap)='checkPrivacy()'>
                    <Label *ngIf="!signinForm.value.privacy" text="&#xf0c8;" style="font-size: 15;" class="far"></Label>
                    <Label *ngIf="signinForm.value.privacy" text="&#xf14a;" style="font-size: 15;" class="fas"></Label>
                    <Label text="{{lng?.reg?.r6}}" style="margin-left: 10"></Label>
                </FlexboxLayout>
                <FlexboxLayout (tap)="seePolicy()">
                    <Label text="{{lng?.reg?.r7}}" style="margin-left: 40;"></Label>
                    <Label text="&#xf35d;" class="fas" style="margin-left: 5"></Label>
                </FlexboxLayout>
                <FlexboxLayout (tap)="seePolicy()">
                    <Label text="{{lng?.reg?.r8}}" style="margin-left: 40;"></Label>
                    <Label text="&#xf35d;" class="fas" style="margin-left: 5"></Label>
                </FlexboxLayout>
            </FlexboxLayout>
            <Button style="margin-top: 40" class="-primary" text="{{lng?.reg?.r17}}" (tap)="goSignin()"></Button>
        </StackLayout>
        <StackLayout>
            <FlexboxLayout flexDirection="row-reverse">
                <Button text="{{lng?.reg?.r21}}" class="-primary" pageTransition="slide" [nsRouterLink]="['/ns-login']"
                    style="padding-left: 10; padding-right: 10;"></Button>
            </FlexboxLayout>
        </StackLayout>
    </FlexboxLayout>
</ScrollView>